body {
    padding: 0;
    margin: 0;
    margin-top: 0;
}

header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.header img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.title-header {
    text-align: center;
    color: white;
    font-size: 4rem;
    margin: 0;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



/*containers*/
.container{
    text-align: center;
}
.Html-basics {
    padding: 10px;
}
.Html-basics h1{
    font-family: Verdana;
}

.Html-Atributes {
    padding: 10px;
}

.Html-Elements h1{
    font-family: Verdana;
}
.Html-Elements p{
    font-size: 2rem;
}